<h1>Nossa Vitrine de Produtos</h1>

<ul>
    {% for produto in produtos %}
        <li>
            <strong>{{ produto.nome }}</strong><br>
            Preço: R$ {{ produto.preco }}<br>
            Categoria: {{ produto.categoria }}<br>
            Estoque: {{ produto.estoque }} unidades disponíveis
            <form method="post" action="{% url 'adicionar_carrinho' produto.id %}">
    {% csrf_token %}
    Seu nome: <input type="text" name="cliente_username">
    Quantidade: <input type="number" name="quantidade">
    <button type="submit">Adicionar ao Carrinho</button>
</form>
        </li>
        <hr>
    {% empty %}
        <p>Estamos Sem nenhum produto no Momento!</p>
    {% endfor %}
</ul>